{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center"><img src="/img/brand.png" width="60" alt=""><br>Mon Profil</h1>
                    </div>
                    <div class="card-body">
                        {% if user.profileImage != null %}
                            <img src="{{ asset('uploads/' ~ user.profileImage) }}" class="card-img" alt="Profile Image">
                            <a class="btn btn-outline-info" href="{{ path('app_profile_imgdelete') }}">Supprimer l'image</a>
                        {% else %}
                            <p>Pas encore d'image de profile</p>
                            {{ form(form) }}
                        {% endif %}
                        <h5 class="card-title">Nom : {{ user.lastName }}</h5>
                        <h5 class="card-title">Prénom : {{ user.firstName }}</h5>
                        <h5 class="card-title">Email : {{ user.email }}</h5>
                        <a class="btn btn-outline-danger" href="{{ path('app_profile_delete') }}">Supprimer ce compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
