{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Nouvelle Réservation</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.forfait, {
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="forfait">
                            {% for forfait in forfaits %}
                                <div class="card">
                                    <img class="card-img-top" src="/{{ forfait.imgPath }}" alt="{{ forfait.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ forfait.name }}</h5>
                                        {% if forfait.discount != 0 %}
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">-{{ forfait.discount }}% </span>
                                        {% endif %}
                                        <p class="card-text">{% if forfait.discount != 0 %}<span class="oldPrice">{{ (forfait.discount/100+1)*forfait.price }}€</span><span> </span>{% endif %}{{ forfait.price }}€</p>
                                        <p class="card-text">{{ forfait.nbSlot }} unité{{ forfait.nbSlot > 1 ? 's' : '' }} disponible{{ forfait.nbSlot > 1 ? 's' : '' }}</p>
                                        <p class="card-text">Durée de {{ forfait.nbMonth }} mois</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.quantity, {
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
